<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @mythread.user.name %>
  <% if current_user.id != @mythread.user.id %>
    <% if @follow %>
    <input type="button" class="JS_toggle" value="unfollow" data-id="<%= @mythread.user.id %>" />
    <% else %>
    <input type="button" class="JS_toggle" value="follow" data-id="<%= @mythread.user.id %>" />
    <% end %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @mythread.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= simple_format(h(@mythread.body)) %>
</p>

<% unless @bookmark %>
  <%= form_tag('/bookmarks', :method => :post) do |f| %>
    <%= hidden_field_tag "mythread_id", @mythread.id %>
    <div class="actions"><%= submit_tag "Bookmark" %></div>
  <% end %>
<% end %>


<h2>Comment List</h2>
<table>
  <tbody>
    <% @comments.each do |comment| %>
      <p>
        <strong>Author:</strong>
        <%= comment.user.name %>
      </p>
      <p>
        <strong>Body:</strong>
        <%= simple_format(h(comment.body)) %>
      </p>
      <% if comment.user.id == current_user.id %>
      <p>
        <%= link_to 'Edit', edit_mythread_comment_path(id: comment.id, mythread_id: comment.mythread_id) %>
        <%= link_to 'Destroy', [@mythread, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Comment', new_mythread_comment_path(@mythread) %></p>

<%= link_to 'Edit', edit_mythread_path(@mythread) %> |
<%= link_to 'Back', mythreads_path %>

<script type="text/javascript">
$(function(){
  $('.JS_toggle').click(function(evt){
    var _self = $(this);
    var id = _self.data('id');
    $.post('/follows/toggle/' + id);

    var label = ( _self.attr('value') === 'follow' ) ? 'unfollow' : 'follow';
    _self.attr('value', label);
  });
})
</script>
